:root {
  --about-us-title-color: #2e2f42;
  --about-us-text-color: #434455;
  --row-title-color: #2e2f42;
  --row-text-color: #434455;
  --logo-color-: #4d5ae5;
  --body-btn-color: #4d5ae5;
  --background-color-body-btn: #f4f4fd;
  --row-title-color: #2e2f42;
  --row-text-color: #434455;
  --head-ink-color: #2e2f42;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.head {
  background: #ffffff;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1128px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.head-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color-);
  margin-right: 76px;
  margin-bottom: 24px;
  margin-top: 24px;
}

.head-list {
  display: flex;
  gap: 40px;
}

.head-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.head-conteiner {
  display: flex;
  align-items: center;
}

.studi {
  color: #2e2f42;
}
.studi-down {
  color: #f4f4fd;
}

.head-ink {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  color: var(--head-ink-color);
}

.head-ink:hover {
  color: #404bbf;
}
.head-ink:focus {
  color: #404bbf;
}

.heder-adres {
  display: flex;
  gap: 40px;
}

.contacts {
  font-style: normal;
}

.head-contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-right: 40px;
}

.head-contact:hover {
  color: #404bbf;
}

.head-contact:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 60px;
  padding-top: 188px;
  padding-bottom: 48px;
}
.hero-btn {
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  margin-bottom: 60px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}
.hero-btn:hover {
  background-color: #404bbf;
}

.hero-btn:focus {
  background-color: #404bbf;
}

.about-us-list {
  display: flex;
  gap: 24px;
}

.strategy-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--about-us-title-color);
  margin-bottom: 8px;
}
.strategy-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--about-us-text-color);
  margin-bottom: 8px;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-top: 20px;
}

.us-bisnez {
  display: flex;
  gap: 24px;
}

.our-team {
  background-color: #f4f4fd;
}

.teem-list {
  display: flex;
  gap: 24px;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 44px;
}
.worker {
  background-color: #ffffff;
  width: calc((100% - 60px) / 4);
}

.worker li {
  width: calc((100% - 90px) / 4);
}

.worker-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.worker-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}

.down {
  background-color: #2e2f42;
}
.down-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* portfolio */
.body-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--body-btn-color);
  background-color: var(--background-color-body-btn);
  cursor: pointer;
  background: #f4f4fd;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.body-btn:hover {
  color: #ffffff;
}
.body-btn:focus {
  color: #ffffff;
}
.body-btn:hover {
  background-color: #404bbf;
}

.body-btn:focus {
  background-color: #404bbf;
}

.row-one-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--row-title-color);
}

.row-one-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--row-text-color);
}
.button-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 24px;
}

.galery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.galery-list li {
  width: calc((100% - 60px) / 3);
}
